<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
    "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.ssafy.enjoytrip.mapper.AiMapper">
    <select id="getRandomAttraction" resultType="map" parameterType="string">
        SELECT
        content_id AS contentId,
        title,
        addr1,
        first_image1 AS image,
        content_type_id AS contentTypeId
        FROM attractions
        WHERE first_image1 != ''
        AND content_type_id = #{contentTypeId}  ORDER BY RAND()
        LIMIT 1
    </select>
</mapper>